.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine; /* Premier League color tone */
  padding: 10px 30px;
  font-family: Arial, sans-serif;
}

.type {
  display: flex;
  align-items: center;
  gap: 15px;
}

#logo {
  width: 50px;
  height: auto;
}

.type h1 {
  color: rgb(42, 71, 239);
  font-size: 24px;
  margin: 0;
}

ul {
  display: flex;
  gap: 25px;
  list-style: none;
  align-items: center;
}

ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 13px;
}

ul li a {
  text-decoration: none;
  color: navy;
  font-weight: bold;
  transition: underline 0.3s ease;
}

ul li a:hover {
  color: #ffd700; /* Golden effect on hover */
  text-decoration: underline;
}

ul li img {
  width: 25px;
  height: auto;
}

#imglogo {
    width: 30px;
    height: 30px;
}
#imglogo1 {
    width: 20px;
    height: 20px;
}
#imglogo2 {
    width: 20px;
    height: 23px;
}

.carousel-inner img {
    height: 1500px;
    object-fit: cover;
    width: 100%;
}